.version.audio /* version checker */
{
	color: #0000F6;
	background-color: #1FE4F4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 575px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

#u481
{
	z-index: 2;
	width: 250px;
	height: 258px;
	position: fixed;
	top: 10px;
	left: 125px;
}

.ie #u481
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu482
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 25px;
}

#u482
{
	z-index: 3;
	width: 250px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u505-10
{
	z-index: 8;
	width: 231px;
	min-height: 95px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u505-2
{
	font-size: 15px;
	line-height: 18px;
	font-family: puritan, sans-serif;
	font-weight: 700;
}

#u505-8
{
	font-size: 11px;
	line-height: 13px;
	font-family: puritan, sans-serif;
	font-weight: 400;
}

#u505-4
{
	color: #424242;
}

#u841
{
	z-index: 20;
	width: 220px;
	padding-bottom: 44px;
	margin-top: 14px;
	position: relative;
	background: transparent url("../images/speaker_orange.png") no-repeat center center;
}

#u841:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	width: 220px;
	min-height: 0px;
	margin: 14px 0px 0px;
}

#u850-4
{
	z-index: 21;
	width: 156px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 36px;
}

#zero-vectors-audio
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 305px;
}

#pu492
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 409px;
}

#u492
{
	z-index: 7;
	width: 647px;
	background-color: transparent;
	position: relative;
	padding: 22px 52px 23.310265547995414px 40px;
}

#u509
{
	z-index: 19;
	width: 647px;
	min-height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u506
{
	z-index: 18;
	width: 647px;
	min-height: 351px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 43px;
	position: relative;
}

#pu489
{
	width: 0.01px;
	margin-left: 191px;
	margin-top: 20px;
}

#u489
{
	z-index: 6;
	width: 47px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u487
{
	z-index: 4;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

.logo
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u872-6
{
	z-index: 25;
	width: 84px;
	min-height: 13px;
	background-color: transparent;
	line-height: 11px;
	color: #999999;
	font-size: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 51px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -880px;
}

