.version.gallery /* version checker */
{
	color: #000009;
	background-color: #FB1B58;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1150px;
	min-height: 579px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-left: 25px;
	padding-right: 105px;
	padding-bottom: 21px;
	margin-left: auto;
	margin-right: auto;
}

#galleries
{
	margin-left: 465px;
	position: relative;
}

#pslideshowu1376
{
	width: 0.01px;
	margin-top: -7px;
}

#slideshowu1376
{
	z-index: 83;
	width: 0.01px;
	height: 598px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 349px;
}

#u1381popup
{
	z-index: 84;
}

#u1382
{
	z-index: 85;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1402
{
	z-index: 87;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1416
{
	z-index: 89;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1416_img
{
	padding-left: 200px;
	padding-right: 199px;
}

#u1428
{
	z-index: 91;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1445
{
	z-index: 93;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1459
{
	z-index: 95;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1473
{
	z-index: 97;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1487
{
	z-index: 99;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1501
{
	z-index: 101;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1515
{
	z-index: 103;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1529
{
	z-index: 105;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1543
{
	z-index: 107;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1557
{
	z-index: 109;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1571
{
	z-index: 111;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1428_img,#u1571_img
{
	padding-left: 199px;
	padding-right: 200px;
}

#u1585
{
	z-index: 113;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1599
{
	z-index: 115;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1379-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 276px;
	left: 33px;
}

#u1379-4popup
{
	z-index: 117;
}

#u1386-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 276px;
	left: 738px;
}

#u1386-4popup
{
	z-index: 121;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#zerovectors_grunge_gallery
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 248px;
}

#u2012
{
	z-index: 261;
	width: 250px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2011
{
	z-index: 260;
	width: 250px;
	height: 258px;
	position: fixed;
	top: 10px;
	left: 125px;
}

.ie #u2011
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1731-23
{
	z-index: 167;
	width: 103px;
	min-height: 120px;
	background-color: transparent;
	position: fixed;
	top: 274px;
	left: 125px;
}

#u1731-2
{
	font-size: 15px;
	line-height: 18px;
}

#u1731
{
	font-family: puritan, sans-serif;
	font-weight: 400;
}

#u1731-6,#u1731-9,#u1731-12,#u1731-15,#u1731-18,#u1731-21
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1731-4,#u1731-7,#u1731-10,#u1731-13,#u1731-16,#u1731-19
{
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	line-height: 13px;
}

#u1727-4
{
	z-index: 151;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 699px;
	margin-top: 15px;
	position: relative;
}

#pzero_vectors_platoon_gallery
{
	width: 0.01px;
	margin-left: 166px;
	margin-top: 112px;
}

#slideshowu1608
{
	z-index: 125;
	width: 0.01px;
	height: 601px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 183px;
}

#u1613
{
	position: absolute;
	width: 801px;
	height: 601px;
	background-color: transparent;
}

#u1613popup
{
	z-index: 126;
}

#u1614
{
	z-index: 127;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1634
{
	z-index: 129;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1648
{
	z-index: 131;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1662
{
	z-index: 133;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1676
{
	z-index: 135;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1690
{
	z-index: 137;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1704
{
	z-index: 139;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1718
{
	z-index: 141;
	width: 801px;
	height: 601px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1614_clip,#u1634_clip,#u1648_clip,#u1662_clip,#u1676_clip,#u1690_clip,#u1704_clip,#u1718_clip
{
	overflow: hidden;
	width: 801px;
	height: 601px;
}

#u1614_img,#u1634_img,#u1648_img,#u1662_img,#u1676_img,#u1690_img,#u1704_img,#u1718_img
{
	margin-left: -50px;
	margin-right: -49px;
	margin-bottom: 1px;
}

#u1611-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 280px;
	left: 23px;
}

#u1611-4popup
{
	z-index: 143;
}

#u1618-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 280px;
	left: 749px;
}

#u1618-4popup
{
	z-index: 147;
}

#u1728-4
{
	z-index: 155;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 701px;
	margin-top: 15px;
	position: relative;
}

#pzero_vectors_bonfire_gallery
{
	width: 0.01px;
	margin-left: 158px;
	margin-top: 112px;
}

#slideshowu1200
{
	z-index: 49;
	width: 0.01px;
	height: 598px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 192px;
}

#u1205
{
	position: absolute;
	width: 797px;
	height: 598px;
	background-color: transparent;
}

#u1205popup
{
	z-index: 50;
}

#u1206
{
	z-index: 51;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1226
{
	z-index: 53;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1240
{
	z-index: 55;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1254
{
	z-index: 57;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1268
{
	z-index: 59;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1282
{
	z-index: 61;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1296
{
	z-index: 63;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1310
{
	z-index: 65;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1324
{
	z-index: 67;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1338
{
	z-index: 69;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1352
{
	z-index: 71;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1366
{
	z-index: 73;
	width: 797px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1206_clip,#u1226_clip,#u1240_clip,#u1254_clip,#u1268_clip,#u1282_clip,#u1296_clip,#u1310_clip,#u1324_clip,#u1338_clip,#u1352_clip,#u1366_clip
{
	overflow: hidden;
	width: 797px;
	height: 598px;
}

#u1203-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 294px;
	left: 37px;
}

#u1203-4popup
{
	z-index: 75;
}

#u1210-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 294px;
	left: 729px;
}

#u1210-4popup
{
	z-index: 79;
}

#u1729-4
{
	z-index: 159;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 698px;
	margin-top: 15px;
	position: relative;
}

#pzero_vectors_winter_gallery
{
	width: 0.01px;
	margin-left: 154px;
	margin-top: 76px;
}

#slideshowu1872
{
	z-index: 227;
	width: 0.01px;
	height: 602px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 190px;
}

#u1877
{
	position: absolute;
	width: 803px;
	height: 602px;
	background-color: transparent;
}

#u1877popup
{
	z-index: 228;
}

#u1878
{
	z-index: 229;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1898
{
	z-index: 231;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1912
{
	z-index: 233;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1926
{
	z-index: 235;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1940
{
	z-index: 237;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1954
{
	z-index: 239;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1968
{
	z-index: 241;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1982
{
	z-index: 243;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1996
{
	z-index: 245;
	width: 803px;
	height: 602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1878_clip,#u1898_clip,#u1912_clip,#u1926_clip,#u1940_clip,#u1954_clip,#u1968_clip,#u1982_clip,#u1996_clip
{
	overflow: hidden;
	width: 803px;
	height: 602px;
}

#u1878_img,#u1898_img,#u1912_img,#u1926_img,#u1940_img,#u1954_img,#u1968_img,#u1982_img,#u1996_img
{
	margin: 1px -48px 1px -49px;
}

#u1875-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 281px;
	left: 27px;
}

#u1875-4popup
{
	z-index: 247;
}

#u1882-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 281px;
	left: 743px;
}

#u1882-4popup
{
	z-index: 251;
}

#u2005-4
{
	z-index: 255;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 698px;
	margin-top: 10px;
	position: relative;
}

#pzero_vectors_animals_gallery
{
	width: 0.01px;
	margin-left: 165px;
	margin-top: 39px;
}

#slideshowu997
{
	z-index: 11;
	width: 0.01px;
	height: 598px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 179px;
}

#u1381,#u1002
{
	position: absolute;
	width: 798px;
	height: 598px;
	background-color: transparent;
}

#u1002popup
{
	z-index: 12;
}

#u1003
{
	z-index: 13;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1023
{
	z-index: 15;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1037
{
	z-index: 17;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1051
{
	z-index: 19;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1065
{
	z-index: 21;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1079
{
	z-index: 23;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1093
{
	z-index: 25;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1107
{
	z-index: 27;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1121
{
	z-index: 29;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1135
{
	z-index: 31;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1149
{
	z-index: 33;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1163
{
	z-index: 35;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1177
{
	z-index: 37;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1191
{
	z-index: 39;
	width: 798px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1382_clip,#u1402_clip,#u1445_clip,#u1459_clip,#u1473_clip,#u1487_clip,#u1501_clip,#u1515_clip,#u1529_clip,#u1543_clip,#u1557_clip,#u1585_clip,#u1599_clip,#u1003_clip,#u1023_clip,#u1037_clip,#u1051_clip,#u1065_clip,#u1079_clip,#u1093_clip,#u1107_clip,#u1121_clip,#u1135_clip,#u1149_clip,#u1163_clip,#u1177_clip,#u1191_clip
{
	overflow: hidden;
	width: 798px;
	height: 598px;
}

#u1382_img,#u1402_img,#u1445_img,#u1459_img,#u1473_img,#u1487_img,#u1501_img,#u1515_img,#u1529_img,#u1543_img,#u1557_img,#u1585_img,#u1599_img,#u1206_img,#u1226_img,#u1240_img,#u1254_img,#u1268_img,#u1282_img,#u1296_img,#u1310_img,#u1324_img,#u1338_img,#u1352_img,#u1366_img,#u1003_img,#u1023_img,#u1037_img,#u1051_img,#u1065_img,#u1079_img,#u1093_img,#u1107_img,#u1121_img,#u1135_img,#u1149_img,#u1163_img,#u1177_img,#u1191_img
{
	margin-left: -50px;
	margin-right: -50px;
}

#u1000-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #7F7F7F;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 279px;
	left: 30px;
}

#u1000-4popup
{
	z-index: 41;
}

#u1007-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #7F7F7F;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 279px;
	left: 735px;
}

#u1007-4popup
{
	z-index: 45;
}

#u1730-4
{
	z-index: 163;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 694px;
	margin-top: 11px;
	position: relative;
}

#pzero_vectors_plants_gallery
{
	width: 0.01px;
	margin-left: 154px;
	margin-top: 111px;
}

#zero_vectors_platoon_gallery,#zero_vectors_bonfire_gallery,#zero_vectors_winter_gallery,#zero_vectors_animals_gallery,#zero_vectors_plants_gallery
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#slideshowu1737
{
	z-index: 194;
	width: 0.01px;
	height: 604px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 183px;
}

#u1742
{
	position: absolute;
	width: 805px;
	height: 604px;
	background-color: transparent;
}

#u1742popup
{
	z-index: 195;
}

#u1743
{
	z-index: 196;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1763
{
	z-index: 198;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1777
{
	z-index: 200;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1791
{
	z-index: 202;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1805
{
	z-index: 204;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1819
{
	z-index: 206;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1833
{
	z-index: 208;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1847
{
	z-index: 210;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1861
{
	z-index: 212;
	width: 805px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1743_clip,#u1763_clip,#u1777_clip,#u1791_clip,#u1805_clip,#u1819_clip,#u1833_clip,#u1847_clip,#u1861_clip
{
	overflow: hidden;
	width: 805px;
	height: 604px;
}

#u1743_img,#u1763_img,#u1777_img,#u1791_img,#u1805_img,#u1819_img,#u1833_img,#u1847_img,#u1861_img
{
	margin: 2px -48px 2px -47px;
}

#u1740-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 282px;
	left: 34px;
}

#u1740-4popup
{
	z-index: 214;
}

#u1747-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 282px;
	left: 745px;
}

#u1747-4popup
{
	z-index: 218;
}

#u1870-4
{
	z-index: 222;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 690px;
	margin-top: 15px;
	position: relative;
}

#pu862
{
	width: 0.01px;
	margin-left: 557px;
	margin-top: 121px;
}

#u862
{
	z-index: 4;
	width: 47px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u860
{
	z-index: 2;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

.logo
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u871-6
{
	z-index: 5;
	width: 84px;
	min-height: 13px;
	background-color: transparent;
	line-height: 11px;
	color: #999999;
	font-size: 9px;
	margin-left: 10px;
	margin-top: 28px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

