#u265-4,#u266-4,#u268-4,#u269-4,#u270-4,#u267-4,#u149,#u149-3,#u149-5,#u149-6,#u159-11,#u250-14,#u255,#u255-3,#u255-5,#u255-6,#u255-8,#u260,#u260-3,#u260-5,#u260-13,#u260-15,#u260-22,#u260-24,#u260-32,#u260-33,#u260-38,#u260-43,#u422-5,#u460-4
{
	font-family: puritan-n4, sans-serif;
}

#u458-4
{
	font-family: puritan-n4, sans-serif;
}

#u468-4
{
	font-family: puritan-n4, sans-serif;
}

#u469-4
{
	font-family: puritan-n4, sans-serif;
}

#u462-4
{
	font-family: puritan-n4, sans-serif;
}

#u464-4
{
	font-family: puritan-n4, sans-serif;
}

#widgetu457_input,#widgetu457_prompt,#widgetu467_input,#widgetu467_prompt,#widgetu461_input,#widgetu461_prompt
{
	font-family: puritan, sans-serif;
}

