.version.gallery /* version checker */
{
	color: #0000F5;
	background-color: #9CB883;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 355px;
	min-height: 525.5000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	padding: 14px 15px 30.499999999999545px 10px;
}

#pu3889
{
	width: 0.01px;
	margin-left: 46px;
}

#u3889
{
	z-index: 266;
	width: 268px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3890
{
	z-index: 267;
	width: 250px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#gallery
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 277px;
}

#u3183-28
{
	z-index: 167;
	width: 103px;
	min-height: 120px;
	background-color: transparent;
	text-align: right;
	margin-left: 252px;
	margin-top: 16px;
	position: relative;
}

#u3183-2
{
	font-size: 15px;
	line-height: 18px;
}

#u3183
{
	font-family: puritan, sans-serif;
	font-weight: 400;
}

#u3183-6,#u3183-10,#u3183-14,#u3183-18,#u3183-22,#u3183-26
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3183-4,#u3183-8,#u3183-12,#u3183-16,#u3183-20,#u3183-24
{
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	line-height: 13px;
}

#pzerovectors_grunge_gallery
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 44px;
}

#slideshowu3037
{
	z-index: 83;
	width: 0.01px;
	height: 232px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 83px;
}

#u3073
{
	position: absolute;
	width: 270px;
	height: 182px;
	background-color: transparent;
}

#u3073popup
{
	z-index: 84;
}

#u3082
{
	z-index: 85;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3098
{
	z-index: 87;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3102
{
	z-index: 89;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3102_img
{
	padding-left: 55px;
	padding-right: 56px;
}

#u3080
{
	z-index: 91;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3074
{
	z-index: 93;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3092
{
	z-index: 95;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3076
{
	z-index: 97;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3078
{
	z-index: 99;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3100
{
	z-index: 101;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3104
{
	z-index: 103;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3086
{
	z-index: 105;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3084
{
	z-index: 107;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3090
{
	z-index: 109;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3094
{
	z-index: 111;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3080_img,#u3094_img
{
	padding-left: 55px;
	padding-right: 55px;
}

#u3088
{
	z-index: 113;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3096
{
	z-index: 115;
	width: 270px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3082_img,#u3098_img,#u3074_img,#u3092_img,#u3076_img,#u3078_img,#u3100_img,#u3104_img,#u3086_img,#u3084_img,#u3090_img,#u3088_img,#u3096_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u3124-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 191px;
}

#u3124-4popup
{
	z-index: 117;
}

#u3127-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 191px;
	left: 240px;
}

#u3127-4popup
{
	z-index: 121;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u3179-4
{
	z-index: 151;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 171px;
	top: -35px;
	margin-bottom: -25px;
	position: relative;
}

#pzero_vectors_platoon_gallery
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 78px;
}

#slideshowu3128
{
	z-index: 125;
	width: 0.01px;
	height: 231px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 81px;
}

#u3159
{
	position: absolute;
	width: 270px;
	height: 183px;
	background-color: transparent;
}

#u3159popup
{
	z-index: 126;
}

#u3166
{
	z-index: 127;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3170
{
	z-index: 129;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3162
{
	z-index: 131;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3172
{
	z-index: 133;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3160
{
	z-index: 135;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3168
{
	z-index: 137;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3174
{
	z-index: 139;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3164
{
	z-index: 141;
	width: 270px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3166_img,#u3170_img,#u3162_img,#u3172_img,#u3160_img,#u3168_img,#u3174_img,#u3164_img
{
	padding-top: 1px;
	padding-bottom: 2px;
}

#u3157-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 190px;
}

#u3157-4popup
{
	z-index: 143;
}

#u3158-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 190px;
	left: 240px;
}

#u3158-4popup
{
	z-index: 147;
}

#u3180-4
{
	z-index: 155;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 171px;
	top: -34px;
	margin-bottom: -25px;
	position: relative;
}

#pzero_vectors_bonfire_gallery
{
	width: 0.01px;
	margin-top: 97px;
}

#slideshowu2966
{
	z-index: 49;
	width: 0.01px;
	height: 251px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 84px;
}

#u2983
{
	position: absolute;
	width: 271px;
	height: 203px;
	background-color: transparent;
}

#u2983popup
{
	z-index: 50;
}

#u2998
{
	z-index: 51;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2990
{
	z-index: 53;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3006
{
	z-index: 55;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2988
{
	z-index: 57;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2996
{
	z-index: 59;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2986
{
	z-index: 61;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3000
{
	z-index: 63;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2992
{
	z-index: 65;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3004
{
	z-index: 67;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2984
{
	z-index: 69;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2994
{
	z-index: 71;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3002
{
	z-index: 73;
	width: 271px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2998_clip,#u2990_clip,#u3006_clip,#u2988_clip,#u2996_clip,#u2986_clip,#u3000_clip,#u2992_clip,#u3004_clip,#u2984_clip,#u2994_clip,#u3002_clip
{
	overflow: hidden;
	width: 271px;
	height: 203px;
}

#u2998_img,#u2990_img,#u3006_img,#u2988_img,#u2996_img,#u2986_img,#u3000_img,#u2992_img,#u3004_img,#u2984_img,#u2994_img,#u3002_img
{
	margin-left: -17px;
	margin-right: -17px;
}

#u3011-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 210px;
}

#u3011-4popup
{
	z-index: 75;
}

#u3010-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 210px;
	left: 241px;
}

#u3010-4popup
{
	z-index: 79;
}

#u3181-4
{
	z-index: 159;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 171px;
	top: -33px;
	margin-bottom: -25px;
	position: relative;
}

#pzero_vectors_winter_gallery
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 110px;
}

#slideshowu3246
{
	z-index: 232;
	width: 0.01px;
	height: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 82px;
}

#u3251
{
	position: absolute;
	width: 270px;
	height: 180px;
	background-color: transparent;
}

#u3251popup
{
	z-index: 233;
}

#u3258
{
	z-index: 234;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3256
{
	z-index: 236;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3268
{
	z-index: 238;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3264
{
	z-index: 240;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3258_img,#u3264_img
{
	padding-right: 1px;
}

#u3254
{
	z-index: 242;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3266
{
	z-index: 244;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3252
{
	z-index: 246;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3262
{
	z-index: 248;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3260
{
	z-index: 250;
	width: 270px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3247-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 187px;
	left: 1px;
}

#u3247-4popup
{
	z-index: 252;
}

#u3270-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 187px;
	left: 240px;
}

#u3270-4popup
{
	z-index: 256;
}

#u3302-4
{
	z-index: 260;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 171px;
	top: -31px;
	margin-bottom: -25px;
	position: relative;
}

#pzero_vectors_animals_gallery
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 125px;
}

#slideshowu2885
{
	z-index: 11;
	width: 0.01px;
	height: 231px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 80px;
}

#u2935
{
	position: absolute;
	width: 274px;
	height: 183px;
	background-color: transparent;
}

#u2935popup
{
	z-index: 12;
}

#u2956
{
	z-index: 13;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2936
{
	z-index: 15;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2938
{
	z-index: 17;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2946
{
	z-index: 19;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2946_img
{
	padding: 1px 2px 2px;
}

#u2940
{
	z-index: 21;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2960
{
	z-index: 23;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2954
{
	z-index: 25;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2952
{
	z-index: 27;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2950
{
	z-index: 29;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2962
{
	z-index: 31;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2944
{
	z-index: 33;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2948
{
	z-index: 35;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2958
{
	z-index: 37;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2942
{
	z-index: 39;
	width: 274px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2956_img,#u2936_img,#u2938_img,#u2940_img,#u2960_img,#u2954_img,#u2952_img,#u2950_img,#u2962_img,#u2944_img,#u2948_img,#u2958_img,#u2942_img
{
	padding: 2px 2px 1px;
}

#u2964-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #7F7F7F;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 190px;
}

#u2964-4popup
{
	z-index: 41;
}

#u2965-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #7F7F7F;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 190px;
	left: 244px;
}

#u2965-4popup
{
	z-index: 45;
}

#u3182-4
{
	z-index: 163;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 172px;
	top: -34px;
	margin-bottom: -25px;
	position: relative;
}

#pzero_vectors_plants_gallery
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 118px;
}

#zerovectors_grunge_gallery,#zero_vectors_platoon_gallery,#zero_vectors_bonfire_gallery,#zero_vectors_winter_gallery,#zero_vectors_animals_gallery,#zero_vectors_plants_gallery
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#slideshowu3188
{
	z-index: 199;
	width: 0.01px;
	height: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 79px;
}

#u3208
{
	position: absolute;
	width: 273px;
	height: 185px;
	background-color: transparent;
	left: 1px;
}

#u3208popup
{
	z-index: 200;
}

#u3225
{
	z-index: 201;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3215
{
	z-index: 203;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3221
{
	z-index: 205;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3209
{
	z-index: 207;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3211
{
	z-index: 209;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3219
{
	z-index: 211;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3213
{
	z-index: 213;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3223
{
	z-index: 215;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3225_img,#u3221_img,#u3209_img,#u3211_img,#u3219_img,#u3213_img,#u3223_img
{
	padding: 3px 1px 2px 2px;
}

#u3217
{
	z-index: 217;
	width: 273px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3215_img,#u3217_img
{
	padding: 2px 1px 3px 2px;
}

#u3242-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 192px;
}

#u3242-4popup
{
	z-index: 219;
}

#u3227-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 192px;
	left: 244px;
}

#u3227-4popup
{
	z-index: 223;
}

#u3244-4
{
	z-index: 227;
	width: 98px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 172px;
	top: -32px;
	margin-bottom: -25px;
	position: relative;
}

#pu2882
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 171px;
}

#u2882
{
	z-index: 4;
	width: 47px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2880
{
	z-index: 2;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

.logo
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u2884-6
{
	z-index: 5;
	width: 84px;
	min-height: 13px;
	background-color: transparent;
	color: #999999;
	font-size: 9px;
	line-height: 11px;
	margin-left: 11px;
	margin-top: 28px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

