#u2799-4,#u2800-4,#u2802-4,#u2780,#u2780-3,#u2780-5,#u2780-6,#u2778-11,#u2786-14,#u2784,#u2784-3,#u2784-5,#u2784-6,#u2784-8,#u2782,#u2782-3,#u2782-5,#u2782-13,#u2782-15,#u2782-22,#u2782-24,#u2782-32,#u2782-33,#u2782-38,#u2782-43,#u2801-4,#u2803-4,#u2804-4,#u2810-5,#u2820-4
{
	font-family: puritan-n4, sans-serif;
}

#u2821-4
{
	font-family: puritan-n4, sans-serif;
}

#u2825-4
{
	font-family: puritan-n4, sans-serif;
}

#u2823-4
{
	font-family: puritan-n4, sans-serif;
}

#u2817-4
{
	font-family: puritan-n4, sans-serif;
}

#u2815-4
{
	font-family: puritan-n4, sans-serif;
}

#widgetu2818_input,#widgetu2818_prompt,#widgetu2822_input,#widgetu2822_prompt,#widgetu2814_input,#widgetu2814_prompt
{
	font-family: puritan, sans-serif;
}

#u2834-6
{
	font-family: puritan-n4, sans-serif;
}

