#u960-4,#u961-4,#u963-4,#u964-4,#u965-4,#u962-4,#u945,#u945-3,#u945-5,#u945-6,#u951-11,#u953-14,#u949,#u949-3,#u949-5,#u949-6,#u949-8,#u947,#u947-3,#u947-5,#u947-13,#u947-15,#u947-22,#u947-24,#u947-32,#u947-33,#u947-38,#u947-43,#u977-5,#u982-4
{
	font-family: puritan-n4, sans-serif;
}

#u983-4
{
	font-family: puritan-n4, sans-serif;
}

#u988-4
{
	font-family: puritan-n4, sans-serif;
}

#u989-4
{
	font-family: puritan-n4, sans-serif;
}

#u992-4
{
	font-family: puritan-n4, sans-serif;
}

#u993-4
{
	font-family: puritan-n4, sans-serif;
}

#widgetu981_input,#widgetu981_prompt,#widgetu987_input,#widgetu987_prompt,#widgetu991_input,#widgetu991_prompt
{
	font-family: puritan, sans-serif;
}

#u995-6
{
	font-family: puritan-n4, sans-serif;
}

