.version.index /* version checker */
{
	color: #0000F7;
	background-color: #E491CC;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

#page
{
	z-index: 1;
	width: 715px;
	min-height: 677.6999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	padding: 14px 34px 25.300000000000068px 19px;
}

#u928
{
	z-index: 2;
	width: 268px;
	background-color: transparent;
	padding-bottom: 8px;
	margin-left: 10px;
	position: relative;
}

#u929
{
	z-index: 3;
	width: 250px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#pu935
{
	width: 0.01px;
	margin-top: 123px;
}

#u935
{
	z-index: 7;
	width: 715px;
	background-color: transparent;
	padding-bottom: 71px;
	position: relative;
	margin-right: -10000px;
}

#u960-4
{
	z-index: 123;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#u961-4
{
	z-index: 127;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 142px;
}

#u963-4
{
	z-index: 135;
	width: 76px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 267px;
}

#u964-4
{
	z-index: 139;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 390px;
}

#u965-4
{
	z-index: 143;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 507px;
}

#u962-4
{
	z-index: 131;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 624px;
}

#pamphletu936
{
	z-index: 8;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 22px;
}

#u943
{
	position: absolute;
	width: 414px;
	background-color: transparent;
	top: -374px;
	left: 266px;
}

#u943popup
{
	z-index: 9;
}

#u944
{
	z-index: 10;
	width: 414px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u945-8
{
	z-index: 11;
	width: 376px;
	min-height: 194px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u950
{
	z-index: 19;
	width: 443px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u951-11
{
	z-index: 20;
	width: 404px;
	min-height: 264px;
	background-color: transparent;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 20px;
}

#u951-7
{
	font-size: 14px;
	color: #424242;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u951-5
{
	font-size: 12px;
	line-height: 17px;
}

#u951-4,#u951-6
{
	line-height: 20px;
}

#u952
{
	z-index: 31;
	width: 456px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u953-14
{
	z-index: 32;
	width: 426px;
	min-height: 247px;
	background-color: transparent;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

#u951-2,#u953-2
{
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

#u951-3,#u953-3
{
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

#u951-9,#u953-5,#u953-7,#u953-9
{
	font-size: 14px;
	line-height: 20px;
	color: #424242;
}

#u953-10
{
	font-size: 16px;
	line-height: 22px;
	color: #424242;
}

#u953-12
{
	font-size: 12px;
	line-height: 17px;
	color: #424242;
}

#u948
{
	z-index: 46;
	width: 451px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u949-10
{
	z-index: 47;
	width: 420px;
	min-height: 237px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 17px;
}

#u946
{
	z-index: 57;
	width: 417px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u947-45
{
	z-index: 58;
	width: 381px;
	min-height: 279px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u945-2,#u949-2,#u947-2
{
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
}

#u945,#u949,#u947
{
	font-family: puritan, sans-serif;
	font-weight: 400;
}

#u945-3,#u949-3,#u949-6,#u947-3
{
	font-size: 16px;
	line-height: 22px;
	color: #424242;
	font-family: puritan, sans-serif;
	font-weight: 400;
}

#u945-5,#u945-6,#u949-5,#u947-5,#u947-13,#u947-15,#u947-22,#u947-24,#u947-32,#u947-33
{
	font-size: 14px;
	line-height: 20px;
	color: #424242;
	font-family: puritan, sans-serif;
	font-weight: 400;
}

#u949-8,#u947-38,#u947-43
{
	font-size: 12px;
	line-height: 17px;
	color: #424242;
	font-family: puritan, sans-serif;
	font-weight: 400;
}

#u937
{
	z-index: 103;
	width: 551px;
	position: relative;
	margin-right: -10000px;
}

#u940
{
	position: absolute;
	width: 64px;
	height: 64px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	background: transparent url("../../images/zv_7.png") no-repeat center center;
	background-size: contain;
}

#u940:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u940:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u939
{
	position: absolute;
	width: 62px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	top: 2px;
	left: 123px;
	background: transparent url("../../images/zv_1-ieu2788-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/zv_1.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#u939:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u939:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u939.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u941
{
	position: absolute;
	height: 74px;
	width: 74px;
	vertical-align: top;
	top: -4px;
	left: 243px;
	background: url("../../images/zv_3-u941.png") no-repeat 6px 6px;
}

#u941:hover
{
	background: url("../../images/zv_3-u941-r.png") no-repeat 0px 0px;
}

#u941.PamphletThumbSelected
{
	background: url("../../images/zv_3-u941-a.png") no-repeat 6px 6px;
}

#u942
{
	position: absolute;
	height: 74px;
	width: 74px;
	vertical-align: top;
	top: -4px;
	left: 364px;
	background: url("../../images/zv_5-u942.png") no-repeat 6px 6px;
}

#u942:hover
{
	background: url("../../images/zv_5-u942-r.png") no-repeat 0px 0px;
}

#u942.PamphletThumbSelected
{
	background: url("../../images/zv_5-u942-a.png") no-repeat 6px 6px;
}

#u938
{
	position: absolute;
	height: 74px;
	width: 74px;
	vertical-align: top;
	top: -4px;
	left: 483px;
	background: url("../../images/zv_0-u938.png") no-repeat 6px 6px;
}

#u938:hover
{
	background: url("../../images/zv_0-u938-r.png") no-repeat 0px 0px;
}

#u938.PamphletThumbSelected
{
	background: url("../../images/zv_0-u938-a.png") no-repeat 6px 6px;
}

#u954
{
	position: absolute;
	width: 30px;
	border-color: #999999;
	background-color: #C4C4C4;
	padding-bottom: 4px;
	top: -414px;
	left: 283px;
}

#u954:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u955-4
{
	z-index: 119;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu966
{
	z-index: 147;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 627px;
}

#u975
{
	position: absolute;
	width: 437px;
	background-color: transparent;
	top: -405px;
	left: -329px;
}

#u975popup
{
	z-index: 148;
}

#u976
{
	z-index: 149;
	width: 437px;
	height: 353px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u977-5
{
	z-index: 150;
	width: 392px;
	min-height: 313px;
	background-color: transparent;
	color: #000000;
	line-height: 28px;
	font-size: 20px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u977-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u977
{
	line-height: 28px;
}

#u977-2
{
	font-size: 18px;
	line-height: 25px;
}

#widgetu978
{
	z-index: 155;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 47px;
}

#widgetu981
{
	z-index: 156;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu981.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u982-4
{
	z-index: 157;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u983-4
{
	z-index: 161;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu981.non-empty-st #u983-4
{
	background-color: #FFFFFF;
}

#widgetu981:hover #u983-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu981.focus-st #u983-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu981.non-empty-st #u983-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu981:hover #u983-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu981.focus-st #u983-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu987
{
	z-index: 165;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu987.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u988-4
{
	z-index: 166;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu987.fld-err-st #u988-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u989-4
{
	z-index: 170;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu987.non-empty-st #u989-4
{
	background-color: #FFFFFF;
}

#widgetu987:hover #u989-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu987.focus-st #u989-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu981.fld-err-st #u983-4,#widgetu987.fld-err-st #u989-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu987.non-empty-st #u989-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu987:hover #u989-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu987.focus-st #u989-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu981_input,#widgetu981_prompt,#widgetu987_input,#widgetu987_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: puritan, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u986-4
{
	z-index: 174;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu978.frm-sub-st #u986-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u985-4
{
	z-index: 178;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu978.frm-subm-err-st #u985-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u980-4
{
	z-index: 182;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu978.frm-sub-st #u986-4,#widgetu978.frm-subm-err-st #u985-4,#widgetu978.frm-subm-ok-st #u980-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu978.frm-subm-ok-st #u980-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u979-17
{
	z-index: 186;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../../images/u979-17.png") no-repeat 0px 0px;
}

#u979-17:hover
{
	background: url("../../images/u979-17-r.png") no-repeat 0px 0px;
}

#u979-17:active
{
	background: url("../../images/u979-17-m.png") no-repeat 0px 0px;
}

#widgetu978.frm-sub-st #u979-17
{
	background: url("../../images/u979-17-fs.png") no-repeat 0px 0px;
}

#widgetu991
{
	z-index: 203;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu991.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u992-4
{
	z-index: 204;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: puritan, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu981.fld-err-st #u982-4,#widgetu991.fld-err-st #u992-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu981.fld-err-st #u982-4 p,#widgetu981.fld-err-st #u982-4 span,#widgetu987.fld-err-st #u988-4 p,#widgetu987.fld-err-st #u988-4 span,#widgetu991.fld-err-st #u992-4 p,#widgetu991.fld-err-st #u992-4 span
{
	color: #D7244C;
}

#u993-4
{
	z-index: 208;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu991.non-empty-st #u993-4
{
	background-color: #FFFFFF;
}

#widgetu991:hover #u993-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu991.focus-st #u993-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu991.fld-err-st #u993-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu991.non-empty-st #u993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu991:hover #u993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu991.focus-st #u993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu981.fld-err-st #u983-4 *,#widgetu987.fld-err-st #u989-4 *,#widgetu991.fld-err-st #u993-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu991_input,#widgetu991_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: puritan, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu981.focus-st #widgetu981_prompt,#widgetu987.focus-st #widgetu987_prompt,#widgetu991.focus-st #widgetu991_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu981:hover #widgetu981_input,#widgetu981.focus-st #widgetu981_input,#widgetu981.fld-err-st #widgetu981_input,#widgetu981:hover #widgetu981_prompt,#widgetu981.fld-err-st #widgetu981_prompt,#widgetu987:hover #widgetu987_input,#widgetu987.focus-st #widgetu987_input,#widgetu987.fld-err-st #widgetu987_input,#widgetu987:hover #widgetu987_prompt,#widgetu987.fld-err-st #widgetu987_prompt,#widgetu991:hover #widgetu991_input,#widgetu991.focus-st #widgetu991_input,#widgetu991.fld-err-st #widgetu991_input,#widgetu991:hover #widgetu991_prompt,#widgetu991.fld-err-st #widgetu991_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu981.non-empty-st #widgetu981_prompt,#widgetu987.non-empty-st #widgetu987_prompt,#widgetu991.non-empty-st #widgetu991_prompt
{
	visibility: hidden;
}

#u967
{
	z-index: 212;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u968
{
	position: absolute;
	width: 64px;
	height: 64px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	background: transparent url("../../images/zv_8.png") no-repeat center center;
	background-size: contain;
}

#u968:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u968:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u940.PamphletThumbSelected,#u968.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border-radius: 10px;
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u969
{
	position: absolute;
	width: 30px;
	border-color: #999999;
	background-color: #C4C4C4;
	padding-bottom: 4px;
	top: -87px;
	left: -379px;
}

#u969:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u954:active,#u969:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u970-4
{
	z-index: 215;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#pu933
{
	width: 0.01px;
	margin-left: 523px;
	margin-top: 73px;
}

#u933
{
	z-index: 6;
	width: 47px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u931
{
	z-index: 4;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

.logo
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u995-6
{
	z-index: 219;
	width: 84px;
	min-height: 13px;
	background-color: transparent;
	color: #999999;
	line-height: 10px;
	font-size: 8px;
	font-family: puritan, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 58px;
	position: relative;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

